@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Nunito:wght@700&family=Tillana:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.cit-breadcrumb ol{
    background: #f1f1f1;
}

.cit-header{
    background: #38ae90;
    padding: 10px 0;
}

.cit-lateral{
    background: #38ae90;
    min-height: 100vh;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .cit-lateral{
        min-height: 350px;
    }
}

/*Boostrap fix*/
.row{
    margin-left: 0;
    margin-right: 0;
}
/*Boostrap select fix*/
.bootstrap-select .inner{
    max-width: 300px;
}